---
title: 'Pixel Perfect Websites'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css" />
    <link rel="stylesheet" href="/assets/css/critical.css" />

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}

 <!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-670">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Transform Your Space, Visualize Your Dreams</span>
            <h2 class="cs-title">Unleash Your <span class="cs-color">Imagination</span> with 3D Rendering</h2>
            <p class="cs-text">
                From meticulous home renovations that breathe new life into your living spaces to exquisite interior and exterior design renderings that transform your dreams into vivid reality,  Cloud7Design is your trusted partner in bringing your creative visions to life
            </p>
            <a href="" class="cs-button-solid">Book Appointment</a>
        </div>
        <picture class="cs-background">
            <!--Desktop-->
            <source media="(min-width: 1024px)" srcset="/assets/images/Hero2.jpg">
            <!--Tablet-->
            <source media="(min-width: 768px)" srcset="/assets/images/Hero2.jpg">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/Hero2.jpg">
            <img decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Hero%2Fconsult1.jpg" alt="consultation" width="960" height="979" aria-hidden="true">
        </picture>
    </div>
    
</section>

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-879">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Services</span>
            <h2 class="cs-title">Explore Our Expertise</h2>
            <p class="cs-text">
               At Cloud7Design, we offer a wide range of 3D rendering services to meet your every need. Our expert team is dedicated to bringing your ideas to life with stunning visualizations. Explore our services
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3">Home Renovation Renderings</h3>
                    <p class="cs-item-p">
                        Our innovative 3d Rendering and Home Design...
                    </p>
                    <!--Backgorund Image-->
                    <picture class="cs-background">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/images/Image11.jpg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/images/Image11.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/Image11.jpg" alt="person" width="1280" height="568">
                    </picture>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3">Interior Design 3D Renderings</h3>
                    <p class="cs-item-p">
                       Our innovative 3d Rendering and Home Design...
                    </p>
                    <!--Backgorund Image-->
                    <picture class="cs-background">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/images/Image3.jpg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/images/Image3.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/Image3.jpg" alt="person" width="1280" height="568">
                    </picture>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3">Exterior Design Visualizations</h3>
                    <p class="cs-item-p">
                        Our innovative 3d Rendering and Home Design...
                    </p>
                    <!--Backgorund Image-->
                    <picture class="cs-background">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/images/Image13.jpg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/images/Image13.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/Image13.jpg" alt="person" width="1280" height="568">
                    </picture>
                </a>
            </li>
        </ul>
        <a href="" class="cs-button-solid">See All our Equipment</a>
    </div>
    <!--Change the svg path fill color to whatever color the section below is so you can match it and create the illusion it is all one piece-->
    <svg class="cs-wave" width="1920" height="179" viewBox="0 0 1920 179" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M1920 179V91.3463C1835.33 91.3463 1715.47 76.615 1549.2 32.9521C1299.48 -32.3214 1132.77 12.1006 947.32 61.5167C810.762 97.9044 664.042 137 466.533 137C331.607 137 256.468 123.447 188.082 111.113C130.974 100.812 78.5746 91.3609 0 91.3609V179H1920Z" fill="white"/>
    </svg>
</section>

<!-- ============================================ -->
<!--                   Steps                      -->
<!-- ============================================ -->

<section id="steps-284">
    <div class="cs-container">
        <!-- Left Section -->
        <div class="cs-content">
            <span class="cs-topper">Steps</span>
            <h2 class="cs-title">Our Process from Start to Finish</h2>
            <p class="cs-text">
               At Cloud7Design, we believe in a streamlined and collaborative process that ensures your 3D rendering project exceeds expectations. Our tried-and-true process consists of the following stages
            </p>
            <a href="" class="cs-button-solid">Read More</a>
        </div>
        <!-- Right Section -->
        <ul class="cs-right-section">
            <li class="cs-item">
                <span class="cs-number">01</span>
                <p class="cs-item-text">
                    <strong>Lorem ipsum dolor</strong> sit amet, consectetur adipiscing elit. At tortor facilisis non.
                </p>
            </li>
            <li class="cs-item">
                <span class="cs-number">02</span>
                <p class="cs-item-text">
                    <strong>Lorem ipsum dolor</strong> sit amet, consectetur adipiscing elit. At tortor facilisis non.
                </p>
            </li>
            <li class="cs-item">
                <span class="cs-number">03</span>
                <p class="cs-item-text">
                    <strong>Lorem ipsum dolor</strong> sit amet, consectetur adipiscing elit. At tortor facilisis non.
                </p>
            </li>
            <li class="cs-item">
                <span class="cs-number">04</span>
                <p class="cs-item-text">
                    <strong>Lorem ipsum dolor</strong> sit amet, consectetur adipiscing elit. At tortor facilisis non.
                </p>
            </li>
        </ul>
    </div>
</section>
                                
  
  <!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<section id="gallery-49">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Portfolio</span>
            <h2 class="cs-title">Explore Our Masterpieces</h2>
            <p class="cs-text">
               At Cloud7Design, our work speaks for itself. Take a journey through our portfolio of 3D rendering projects that showcase our creativity, attention to detail, and commitment to excellence. Each project is a testament to our ability to transform ideas into stunning visualizations.
            </p>
        </div>
        <ul class="cs-image-group">
            <!-- Image 1 -->
            <li class="cs-item cs-item-1">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/Image14.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/Image14.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/Image14.jpg" alt="man grinding steel" width="529" height="256">
                </picture>
                <!-- Hover Box -->
                <div class="cs-hover-box">
                    <h3 class="cs-h3">Project Name</h3>
                    <a class="cs-link" aria-label="read more about this project" href="">
                        Read more
                    </a>
                </div>
            </li>
            <!-- Image 2 -->
            <li class="cs-item cs-item-2">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/Image15.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/Image15.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/Image15.jpg" alt="wood worker" width="255" height="255">
                </picture>
                <!-- Hover Box -->
                <div class="cs-hover-box">
                    <h3 class="cs-h3">Project Name</h3>
                    <a class="cs-link" aria-label="read more about this project" href="">
                        Read more
                    </a>
                </div>
            </li>
            <!-- Image 3 -->
            <li class="cs-item cs-item-3">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/Image16.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/Image16.jpg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/Image16.jpg" alt="steel rebar grid" width="255" height="255">
                </picture>
                <!-- Hover Box -->
                <div class="cs-hover-box">
                    <h3 class="cs-h3">Project Name</h3>
                    <a class="cs-link" aria-label="read more about this project" href="">
                        Read more
                    </a>
                </div>
            </li>
            <!-- Image 4 -->
            <li class="cs-item cs-item-4">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/Image18.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/Image18.jpg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/Image18.jpg" alt="modern home" width="255" height="255">
                </picture>
                <!-- Hover Box -->
                <div class="cs-hover-box">
                    <h3 class="cs-h3">Project Name</h3>
                    <a class="cs-link" aria-label="read more about this project" href="">
                        Read more
                    </a>
                </div>
            </li>
            <!-- Image 5 -->
            <li class="cs-item cs-item-5">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/Image19.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/Image19.jpg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/Image19.jpg" alt="appliance" width="255" height="255">
                </picture>
                <!-- Hover Box -->
                <div class="cs-hover-box">
                    <h3 class="cs-h3">Project Name</h3>
                    <a class="cs-link" aria-label="read more about this project" href="">
                        Read more
                    </a>
                </div>
            </li>
            <!-- Image 6 -->
            <li class="cs-item cs-item-6">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/Image17.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/Image17.jpg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/Image17.jpg" alt="modern home" width="255" height="530">
                </picture>
                <!-- Hover Box -->
                <div class="cs-hover-box">
                    <h3 class="cs-h3">Project Name</h3>
                    <a class="cs-link" aria-label="read more about this project" href="">
                        Read more
                    </a>
                </div>
            </li>
        </ul>
        <a href="" class="cs-button-solid">View Full Gallery</a>
    </div>
</section>
                                                              
    <!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews-1397">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Testimonials</span>
            <h2 class="cs-title">Happy Client’s Feedback About Our Service</h2>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <!--Blue Quote-->
                <img class="cs-quote" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/pink-quotes.svg" decoding="async" alt="quote icon" width="120" height="99">
                <p class="cs-item-text">
                   Working with Cloud7Design was an absolute pleasure. Their attention to detail and creativity in rendering our architectural designs exceeded our expectations. 
                </p>
                <div class="cs-flex-group">
                  
                    <span class="cs-name">
                        Britney Allison
                    </span>
                </div>
            </li>
            <li class="cs-item">
                <!--Blue Quote-->
                <img class="cs-quote" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/pink-quotes.svg" decoding="async" alt="quote icon" width="120" height="99">
                <p class="cs-item-text">
                    Cloud7Design brought our interior design concepts to life with breathtaking 3D renderings. Their ability to capture every nuance of our vision was truly impressive. 
                </p>
                <div class="cs-flex-group">
                  
                    <span class="cs-name">
                        Jessica Jonson
                    </span>
                </div>
            </li>
        </ul>
    </div>
    <div class="cs-bubbles" aria-hidden="true"></div>
</section>
                                                            
                                

    {% include 'components/cta.html' %}
{% endblock %}